doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      h3 MEMBERS ONLY
      if user
        button Logout
      else 
        div 
          button Login 
          button Sign up
    main 
      block content
