doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      h3 MEMBERS ONLY
      if user 
        if user.isMember || user.isAdmin
          button
            a(href="/logout") Logout
        else
          div
            button
              a(href="/logout") Logout
            button
              a(href="/join-club") Member
      else
        div 
          button
            a(href="/login") Login
          button
            a(href="/sign-up") Sign up
    main 
      block content
